ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #123;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: red;
  text-align: center;
  padding: 14px 16px
  text-deocration: none;
}

li a:hover, .dropdown:hover{
  background-color: #111;
}

li.dropdown {
  display: inline-block;
}

.dropDown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,0.2);
  z-index: 1;
}

.dropDown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}









