body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color:#fab66b;
}
p {
    color: navy;
}
a {
    text-decoration:none;
}
/* the bg color extends accross the whole page, so we have to comment it our for now*/
figcaption {
    color: navy;
    font-weight: bold;
    /*background-color: aqua;*/
}
a:hover {
    text-decoration:underline;
    font-weight:bold;
}
.sale {
    font-weight:bold;
    background-color:aqua;
}
#sidenote {
    background-color:#dbd9d9;
}
